repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    args:
      - "--max-line-length=88"
      - "--extend-ignore=E501,E502,E712"
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
    args:
      - "--profile=black"
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.7.0
  hooks:
  - id: nbqa-pyupgrade
    args: 
      - "--py36-plus"
  - id: nbqa-black
  - id: nbqa-flake8
    args:
      - "--max-line-length=88"
      - "--extend-ignore=E501,E502,E712"
  - id: nbqa-isort
    args:
      - "--profile=black"
